* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #4d4e53;
	font-size: 0.9em;
	line-height: 1.5;
}

#navbar {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #7984ee;
	width: 300px;
	height: 100%;
	overflow: auto;
}
#main-doc {
	position: absolute;
	margin-left: 310px;
}
#navbar .header-navbar {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	margin: 10px;
	color: #280b6f;
}
#navbar ul {
	list-style: none;
	width: 100%;
	padding: 0;
}
#navbar li {
	border-top: #949dee solid 1px;
	padding: 15px 0 15px 60px;
}
#navbar li .nav-link {
	text-decoration: none;
	font-size: 1.1em;
	color: white;
}
#main-doc .main-section .header-section {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	margin: 10px;
	color: #7984ee;
}
#main-doc .main-section article {
	margin: 0px 30px 0px 30px;
	box-sizing: border-box;
}
#main-doc .main-section article li,
p {
	text-align: justify;
	margin: 20px 0px 20px 0px;
}
#main-doc .main-section article code {
	display: block;
	background-color: #eee;
	padding: 20px;
	white-space: pre-line;
	border-radius: 7px;
}
@media only screen and (max-width: 800px) {
	#navbar {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #7984ee;
		width: 100%;
		height: 300px;
		overflow: auto;
	}
	#main-doc {
		position: absolute;
		top: 310px;
		left: 0px;
		margin: 0px;

		width: 100%;
	}
	#main-doc .main-section article code {
		display: block;
		background-color: #eee;
		padding: 15px;
		white-space: pre-line;
		border-radius: 7px;
	}
}
